
pandas==1.4.3
numpy==1.22.3
plotly==5.14.1
dash==2.14.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-daq==0.5.0
dash-table==5.0.0
dash-svg==0.0.12
scikit-learn==1.1
opencv-python==4.6.0.66
diskcache==5.6.3 
multiprocess==0.70.15 
psutil==0.3.7
